Repository PainkillerJS/production_course: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, yarn stylelint:fix

.lintstagedrc.json:

{
  "**/*.{tsx,ts}": ["yarn lint:fix"],
  "**/*.{scss,css}": ["yarn stylelint:fix"]
}

feat: refactor code
  src/pages/ArticlesPage/index.ts
  src/pages/ArticlesPage/model/selectors/getArticlesPageError/getArticlesPageError.spec.ts
  src/pages/ArticlesPage/model/selectors/getArticlesPageIsHasMore/getArticlesPageIsHasMore.spec.ts
  src/pages/ArticlesPage/model/selectors/getArticlesPageIsInited/getArticlesPageIsInited.spec.ts
  src/pages/ArticlesPage/model/selectors/getArticlesPageIsInited/index.ts
  src/pages/ArticlesPage/model/selectors/getArticlesPageIsLoading/getArticlesPageIsLoading.spec.ts
  src/pages/ArticlesPage/model/selectors/getArticlesPageLimit/getArticlesPageLimit.spec.ts
  src/pages/ArticlesPage/model/selectors/getArticlesPageView/getArticlesPageView.spec.ts
  src/pages/ArticlesPage/model/services/getArticlesList/getArticlesList.spec.ts
  src/pages/ArticlesPage/model/services/updateInitedArticlesPage/index.ts
  src/pages/ArticlesPage/model/services/updateInitedArticlesPage/updateInitedArticlesPage.spec.ts
  src/pages/ArticlesPage/model/slices/articlesPageSlice.spec.ts
  src/pages/ArticlesPage/model/slices/index.ts
  src/pages/ArticlesPage/model/types/index.ts
  src/pages/ArticlesPage/ui/ArticlesPage/index.tsx
  src/shared/lib/DynamicModuleLoader/index.tsx
  src/shared/providers/StoreProvider/config/reducerManager.ts
Due: yarn lint:fix

feat: add throttle and safe scroll
  src/features/SafeScroll/index.ts
  src/features/SafeScroll/model/selectors/getSafeScroll/getSafeScroll.spec.ts
  src/features/SafeScroll/model/selectors/getSafeScroll/index.ts
  src/features/SafeScroll/model/selectors/getSafeScrollByPath/getSafeScrollByPath.spec.ts
  src/features/SafeScroll/model/selectors/getSafeScrollByPath/index.ts
  src/features/SafeScroll/model/slice/index.ts
  src/features/SafeScroll/model/slice/safeScrollSlice.spec.ts
  src/features/SafeScroll/model/types/index.ts
  src/pages/AboutPage/ui/AboutPage.tsx
  src/pages/ArticlesDetailsPage/ui/ArticleDetailsPage/index.tsx
  src/pages/ArticlesPage/model/services/getNextArticlesList/getNextArticlesList.spec.ts
  src/pages/ArticlesPage/ui/ArticlesPage/index.tsx
  src/pages/MainPage/ui/MainPage.tsx
  src/pages/ProfilePage/ui/ProfilePage.tsx
  src/shared/lib/hooks/useThrottle/index.ts
  src/shared/lib/hooks/useThrottle/useThrottle.spec.ts
  src/shared/providers/StoreProvider/config/index.ts
  src/shared/providers/StoreProvider/config/stateSchema.ts
  src/widgets/PageWrapper/PageWrapper.spec.tsx
  src/widgets/PageWrapper/PageWrapper.stories.tsx
  src/widgets/PageWrapper/index.tsx
  src/widgets/PageWrapper/pageWrapper.module.scss
Due: yarn lint:fix, yarn stylelint:fix

feat: add recommended articles
  .husky/pre-commit
  public/locales/en/articles.json
  public/locales/ru/articles.json
  src/app/styles/index.scss
  src/app/styles/reset.scss
  src/entities/Article/ui/ArticleListItem/index.tsx
  src/entities/Article/ui/ArticleListItem/ui/BigArticleListItem/index.tsx
  src/entities/Article/ui/ArticleListItem/ui/SmallArticleListItem/index.tsx
  src/pages/ArticlesDetailsPage/index.ts
  src/pages/ArticlesDetailsPage/model/selectors/getArticleDetailsCommentsError/getArticleDetailsCommentsError.spec.ts
  src/pages/ArticlesDetailsPage/model/selectors/getArticleDetailsCommentsError/index.ts
  src/pages/ArticlesDetailsPage/model/selectors/getArticleDetailsCommentsIsLoading/index.ts
  src/pages/ArticlesDetailsPage/model/selectors/getArticleDetailsRecomendationsError/getArticleDetailsRecomendationsError.spec.ts
  src/pages/ArticlesDetailsPage/model/selectors/getArticleDetailsRecomendationsError/index.ts
  src/pages/ArticlesDetailsPage/model/selectors/getArticleDetailsRecomendationsIsLoading/getArticleDetailsRecomendationsIsLoading.spec.ts
  src/pages/ArticlesDetailsPage/model/selectors/getArticleDetailsRecomendationsIsLoading/index.ts
  src/pages/ArticlesDetailsPage/model/services/getArticlesRecommendations/getArticlesRecommendations.spec.ts
  src/pages/ArticlesDetailsPage/model/services/getArticlesRecommendations/index.ts
  src/pages/ArticlesDetailsPage/model/slices/articleDetailsCommentsSlice/index.ts
  src/pages/ArticlesDetailsPage/model/slices/articleDetailsRecomendationsSlice/index.ts
  src/pages/ArticlesDetailsPage/model/slices/index.ts
  src/pages/ArticlesDetailsPage/model/types/index.ts
  src/pages/ArticlesDetailsPage/ui/ArticleDetailsPage/articleDetailsPage.module.scss
  src/pages/ArticlesDetailsPage/ui/ArticleDetailsPage/index.tsx
  src/shared/config/storybook/decorators/storeDecorator.tsx
  src/shared/config/storybook/decorators/storeProvider.tsx
  src/shared/lib/DynamicModuleLoader/index.tsx
  src/shared/providers/StoreProvider/config/stateSchema.ts
Due: yarn lint:fix, yarn stylelint:fix

feat: add copy plugin
  config/build/buildPlugin.ts
  config/build/buildWebpackConfig.ts
  config/build/types/config.ts
  src/shared/api/api.ts
  src/shared/providers/StoreProvider/config/stateSchema.ts
  webpack.config.ts
Due: yarn lint:fix

feat: add virtuoso
  config/build/buildDevServer.ts
  package.json
  src/entities/Article/ui/ArticleList/ArticleListSkeleton.tsx
  src/entities/Article/ui/ArticleList/articleList.module.scss
  src/entities/Article/ui/ArticleList/index.tsx
  src/entities/Article/ui/ArticleListItem/articleListItem.module.scss
  src/entities/Article/ui/ArticleListItem/ui/ArticleListItemSkeleton/index.tsx
  src/features/ArticlesFilters/ui/ArticlesFilters.tsx
  src/features/ArticlesFilters/ui/articlesFilters.module.scss
  src/features/SafeScroll/index.ts
  src/features/SafeScroll/model/selectors/getSafeScroll/getSafeScroll.spec.ts
  src/features/SafeScroll/model/selectors/getSafeScroll/index.ts
  src/features/SafeScroll/model/selectors/getSafeScrollByPath/getSafeScrollByPath.spec.ts
  src/features/SafeScroll/model/selectors/getSafeScrollByPath/index.ts
  src/features/SafeScroll/model/slice/index.ts
  src/features/SafeScroll/model/slice/safeScrollSlice.spec.ts
  src/features/SafeScroll/model/types/index.ts
  src/pages/ArticlesPage/ui/ArticlesPage/index.tsx
  src/shared/config/ids/index.ts
  src/shared/lib/hooks/useInfiniteScroll/index.ts
  src/shared/lib/hooks/useThrottle/index.ts
  src/shared/providers/StoreProvider/config/index.ts
  src/shared/providers/StoreProvider/config/stateSchema.ts
  src/widgets/PageWrapper/index.tsx
  yarn.lock
Due: yarn lint:fix, yarn stylelint:fix

feat: add mine rules eslint
  .eslintrc.js
  config/jest/jest.config.ts
  package.json
  yarn.lock
Due: yarn lint:fix

feat: update manager package
  pnpm-lock.yaml
  yarn.lock
Due: none

feat: update for ubuntu
  .prettierrc.js
  package.json
  pnpm-lock.yaml
  src/shared/ui/Select/Select.stories.tsx
  src/shared/ui/Select/index.tsx
Due: yarn lint:fix

feat: part change
  package.json
  pnpm-lock.yaml
  src/shared/ui/Stack/Flex/Flex.stories.tsx
  src/shared/ui/Stack/Flex/flex.module.scss
  src/shared/ui/Stack/Flex/index.tsx
Due: yarn lint:fix, yarn stylelint:fix

feat: add flex pattern
  .lintstagedrc.json
  src/entities/Article/ui/ArticleDetails/articleDetails.module.scss
  src/entities/Article/ui/ArticleDetails/index.tsx
  src/entities/Comment/ui/CommentCard/commentCard.module.scss
  src/entities/Comment/ui/CommentCard/index.tsx
  src/entities/Comment/ui/CommentsList/commentList.module.scss
  src/entities/Comment/ui/CommentsList/index.tsx
  src/entities/Profile/ui/ProfileCard/index.tsx
  src/entities/Profile/ui/ProfileCard/profileCard.module.scss
  src/features/AddCommentForm/ui/AddCommentForm/addCommentForm.module.scss
  src/features/AddCommentForm/ui/AddCommentForm/index.tsx
  src/features/AuthByUsername/ui/LoginForm/loginForm.stories.tsx
  src/pages/ArticleDetailsPage/ui/ArticleDetailsHeader/ArticleDetailsHeader.tsx
  src/pages/ArticleDetailsPage/ui/ArticleDetailsHeader/articleDetailsHeader.module.scss
  src/pages/ArticleDetailsPage/ui/ArticleDetailsPage/articleDetailsPage.module.scss
  src/pages/ArticlesPage/ui/ArticlesPage/index.tsx
  src/pages/ProfilePage/ui/ProfilePage.tsx
  src/pages/ProfilePage/ui/ProfilePageHeader/index.tsx
  src/pages/ProfilePage/ui/ProfilePageHeader/profilePageHeader.module.scss
  src/shared/ui/AppLink/AppLink.stories.tsx
  src/shared/ui/Avatar/Avatar.stories.tsx
  src/shared/ui/Button/Button.stories.tsx
  src/shared/ui/Card/card.stories.tsx
  src/shared/ui/Code/Code.stories.tsx
  src/shared/ui/Heading/Heading.stories.tsx
  src/shared/ui/Input/input.stories.tsx
  src/shared/ui/Loader/Loader.stories.tsx
  src/shared/ui/Modal/modal.stories.tsx
  src/shared/ui/Select/Select.stories.tsx
  src/shared/ui/Skeleton/Skeleton.stories.tsx
  src/shared/ui/Stack/Flex/Flex.spec.tsx
  src/shared/ui/Stack/Flex/Flex.stories.tsx
  src/shared/ui/Stack/Flex/flex.module.scss
  src/shared/ui/Stack/Flex/index.tsx
  src/shared/ui/Tabs/Tabs.stories.tsx
  src/shared/ui/Typography/Typography.stories.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
  src/widgets/Sidebar/ui/Sidebar/sidebar.module.scss
Due: yarn lint:fix, yarn stylelint:fix

feat: add sidebar semantic
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
Due: yarn lint:fix

feat: add list box
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/styles/reset.scss
  src/app/styles/themes/dark.scss
  src/app/styles/themes/normal.scss
  src/app/styles/themes/orange.scss
  src/entities/Contries/ui/Contries.tsx
  src/entities/Currency/ui/CurrencySelect/CurrencySelect.tsx
  src/shared/ui/ListBox/ListBox.spec.tsx
  src/shared/ui/ListBox/index.tsx
  src/shared/ui/ListBox/listBox.module.scss
  src/shared/ui/ListBox/listBox.stories.tsx
Due: yarn lint:fix, yarn stylelint:fix

feat: add vitest
  .eslintignore
  .eslintrc.js
  .gitignore
  .husky/pre-commit
  config/build/buildPlugin.ts
  config/jest/jest.config.ts
  config/storybook/webpack.config.storybook.ts
  config/vitest/setup.ts
  config/vitest/vitest.config.mts
  package.json
  pnpm-lock.yaml
  src/app/types/index.d.ts
  src/shared/config/tests/testAsyncThunk/index.ts
  src/shared/lib/hooks/useDebounce/useDebounce.spec.ts
  src/shared/lib/hooks/useThrottle/useThrottle.spec.ts
  src/shared/ui/Button/Button.spec.tsx
  src/shared/ui/Heading/Heading.spec.tsx
  src/shared/ui/Input/input.spec.tsx
  src/shared/ui/Modal/modal.spec.tsx
  src/shared/ui/Select/Select.spec.tsx
  src/shared/ui/Tabs/tabs.spec.tsx
  src/shared/ui/Typography/Typography.spec.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.spec.tsx
  src/widgets/Sidebar/ui/SidebarItem/Sidebar.spec.tsx
  tsconfig.json
Due: yarn lint:fix

fix: build project and replace husky
  .git-hooks/commit-msg
  .git-hooks/pre-commit
  .github/workflows/main.yml
  README.md
  package.json
  pnpm-lock.yaml
  src/entities/Profile/ui/ProfileCard/index.tsx
  src/shared/config/tests/testAsyncThunk/index.ts
Due: yarn lint:fix
