Repository PainkillerJS/production_course: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, yarn test, yarn stylelint:fix

.lintstagedrc.json:

{
  "*.{tsx,ts}": ["yarn lint:fix", "yarn test"],
  "*.{scss,css}": ["yarn stylelint:fix"]
}

foo: this will fail
  .husky/commit-msg
Due: none

foo: this will fail
  .commitlintrc.js
Due: none

foo: this will fail
  package.json
Due: none

foo: this will fail
  .husky/pre-commit
  package.json
Due: none

foo: this will fail
  .husky/commit-msg
  .husky/pre-commit
  package.json
Due: none

feat: add husky and commit-linter
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
Due: none

feat: add modal
  .commitlintrc.js
  .eslintrc.js
  .vscode/settings.json
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/index.tsx
  src/app/providers/ThemeProvider/ui/ThemeProvider.tsx
  src/app/styles/index.scss
  src/app/styles/variables/global.scss
  src/index.tsx
  src/shared/config/routeConfig/routeConfig.tsx
  src/shared/config/storybook/decorators/styleDecorator.tsx
  src/shared/ui/Button/Button.tsx
  src/shared/ui/Button/button.module.scss
  src/shared/ui/Modal/index.tsx
  src/shared/ui/Modal/modal.module.scss
  src/shared/ui/Modal/modal.spec.tsx
  src/shared/ui/Modal/modal.stories.tsx
  src/shared/ui/Portal/index.tsx
  src/widgets/Navbar/ui/Navbar.tsx
  src/widgets/Navbar/ui/navbar.module.scss
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
Due: yarn lint:fix, yarn test, yarn stylelint:fix

feat: add redux and etst component(Counter)
  .eslintrc.js
  config/jest/jest.config.ts
  src/app/providers/StoreProvider/config/index.ts
  src/app/providers/StoreProvider/config/stateSchema.ts
  src/app/providers/StoreProvider/index.ts
  src/app/providers/StoreProvider/ui/StoreProvider.tsx
  src/entities/conter/index.ts
  src/entities/conter/model/selectors/getCounter/getCounter.spec.ts
  src/entities/conter/model/selectors/getCounter/getCounter.ts
  src/entities/conter/model/selectors/getCounterValue/getCounterValue.spec.ts
  src/entities/conter/model/selectors/getCounterValue/getCounterValue.ts
  src/entities/conter/model/slices/counterSlice.spec.ts
  src/entities/conter/model/slices/counterSlice.ts
  src/entities/conter/ui/Counter.spec.tsx
  src/entities/conter/ui/Counter.tsx
  src/index.tsx
  src/shared/config/tests/componentRender/ComponentRender.tsx
  src/shared/config/tests/renderWithLibs/renderWithLibs.tsx
  src/shared/ui/AppLinks/AppLinks.spec.tsx
  src/shared/ui/Loader/Loader.spec.tsx
  src/shared/ui/Modal/modal.spec.tsx
  src/widgets/Navbar/ui/Navbar.spec.tsx
  src/widgets/PageError/ui/PageError.spec.tsx
  src/widgets/PageLoader/ui/PageLoader.spec.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.spec.tsx
  yarn.lock
Due: yarn lint:fix, yarn test

feat: update package.json
  package.json
  yarn.lock
Due: none

feat: fix style for modal
  src/app/index.tsx
  src/app/providers/ThemeProvider/ui/ThemeProvider.tsx
  src/app/styles/themes/dark.scss
  src/app/styles/themes/normal.scss
  src/shared/config/storybook/decorators/styleDecorator.tsx
  src/shared/config/theme/model/ThemeContext.tsx
Due: yarn lint:fix, yarn test, yarn stylelint:fix

feat: add json-server
  .eslintignore
  json-server/db.json
  json-server/index.js
  package.json
  yarn.lock
Due: none

feat: add custom input and login form
  public/locales/en/login.json
  public/locales/ru/login.json
  src/app/providers/StoreProvider/config/index.ts
  src/app/providers/StoreProvider/config/stateSchema.ts
  src/entities/User/index.ts
  src/entities/User/model/slice/userSlice.ts
  src/features/AuthByUsername/index.ts
  src/features/AuthByUsername/ui/LoginForm/LoginForm.tsx
  src/features/AuthByUsername/ui/LoginForm/loginForm.module.scss
  src/features/AuthByUsername/ui/LoginForm/loginForm.stories.tsx
  src/features/AuthByUsername/ui/LoginModal/LoginModal.tsx
  src/shared/ui/Button/Button.spec.tsx
  src/shared/ui/Button/button.module.scss
  src/shared/ui/Input/index.tsx
  src/shared/ui/Input/input.module.scss
  src/shared/ui/Input/input.spec.tsx
  src/shared/ui/Input/input.stories.tsx
  src/shared/ui/Modal/index.tsx
  src/shared/ui/Modal/modal.spec.tsx
  src/widgets/Navbar/ui/Navbar.tsx
Due: yarn lint:fix, yarn test, yarn stylelint:fix

fix: fix ts rules
  src/features/AuthByUsername/ui/LoginForm/LoginForm.tsx
  src/index.tsx
Due: yarn lint:fix, yarn test

feat: add code splitting for redux
  .eslintrc.js
  config/storybook/preview.ts
  src/features/AuthByUsername/index.ts
  src/features/AuthByUsername/model/selectors/getLoginState/index.ts
  src/features/AuthByUsername/ui/LoginForm/LoginForm.tsx
  src/features/AuthByUsername/ui/LoginForm/LoginFormAsync.tsx
  src/features/AuthByUsername/ui/LoginForm/loginForm.stories.tsx
  src/features/AuthByUsername/ui/LoginModal/LoginModal.tsx
  src/shared/config/storybook/decorators/storeProvider.tsx
  src/shared/lib/DynamicModuleLoader/index.tsx
  src/shared/providers/StoreProvider/config/index.ts
  src/shared/providers/StoreProvider/config/reducerManager.ts
  src/shared/providers/StoreProvider/config/stateSchema.ts
  src/shared/providers/StoreProvider/ui/StoreProvider.tsx
Due: yarn lint:fix, yarn test

feat: update test for async thunk
  src/features/AuthByUsername/model/services/loginByUsername/loginByUsername.spec.ts
  src/shared/config/tests/testAsyncThunk/index.ts
Due: yarn lint:fix, yarn test

feat: add profile
  .eslintrc.js
  .husky/commit-msg
  .husky/pre-commit
  json-server/db.json
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/entities/Profile/index.ts
  src/entities/Profile/model/slice/index.ts
  src/entities/Profile/model/types/index.ts
  src/features/AuthByUsername/ui/LoginForm/LoginForm.tsx
  src/features/AuthByUsername/ui/LoginModal/LoginModal.tsx
  src/features/LanguageSwitcher/ui/LanguageSwitcher.tsx
  src/features/ThemeSwitcher/ui/ThemeSwitcher.tsx
  src/pages/ProfilePage/index.ts
  src/pages/ProfilePage/ui/ProfilePage.tsx
  src/pages/ProfilePage/ui/ProfilePageAsync.tsx
  src/shared/config/routeConfig/routeConfig.tsx
  src/shared/constants/profile.ts
  src/shared/providers/StoreProvider/config/index.ts
  src/shared/providers/StoreProvider/config/stateSchema.ts
  src/shared/ui/AppLinks/AppLinks.tsx
  src/shared/ui/AppLinks/index.ts
  src/shared/ui/Button/Button.tsx
  src/shared/ui/Typography/index.tsx
  src/widgets/Navbar/ui/Navbar.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.spec.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
  src/widgets/Sidebar/ui/Sidebar/sidebar.module.scss
  src/widgets/Sidebar/ui/SidebarItem/Sidebar.spec.tsx
  src/widgets/Sidebar/ui/SidebarItem/index.tsx
  src/widgets/Sidebar/ui/SidebarItem/sidebar.module.scss
Due: yarn lint:fix, yarn test, yarn stylelint:fix

feat: add profile page
  src/pages/ProfilePage/ui/ProfilePage.tsx
Due: yarn lint:fix, yarn test

feat: add profile entity, ts strict mode was enable
  .env.dev
  .eslintrc.js
  config/build/buildPlugin.ts
  config/storybook/webpack.config.storybook.ts
  package.json
  public/locales/en/profile.json
  public/locales/ru/profile.json
  src/entities/Profile/index.ts
  src/entities/Profile/model/selectors/getProfileData/getProfileData.spec.ts
  src/entities/Profile/model/selectors/getProfileData/index.ts
  src/entities/Profile/model/selectors/getProfileError/getProfileError.spec.ts
  src/entities/Profile/model/selectors/getProfileError/index.ts
  src/entities/Profile/model/selectors/getProfileLoading/getProfileLoading.spec.ts
  src/entities/Profile/model/selectors/getProfileLoading/index.ts
  src/entities/Profile/model/services/profileData/index.ts
  src/entities/Profile/model/services/profileData/profileDataThunk.spec.ts
  src/entities/Profile/model/slice/index.ts
  src/entities/Profile/model/types/index.ts
  src/entities/Profile/ui/ProfileCard/index.tsx
  src/entities/Profile/ui/ProfileCard/profileCard.module.scss
  src/features/AuthByUsername/model/services/loginByUsername/index.ts
  src/features/AuthByUsername/model/services/loginByUsername/loginByUsername.spec.ts
  src/features/AuthByUsername/model/slice/index.ts
  src/features/AuthByUsername/ui/LoginForm/loginForm.stories.tsx
  src/index.tsx
  src/pages/ProfilePage/ui/ProfilePage.tsx
  src/shared/api/api.ts
  src/shared/config/storybook/decorators/storeDecorator.tsx
  src/shared/config/storybook/decorators/storeProvider.tsx
  src/shared/config/tests/componentRender/ComponentRender.tsx
  src/shared/config/tests/testAsyncThunk/index.ts
  src/shared/lib/DynamicModuleLoader/index.tsx
  src/shared/lib/classNames/index.ts
  src/shared/lib/storage/user.ts
  src/shared/providers/StoreProvider/config/index.ts
  src/shared/providers/StoreProvider/config/stateSchema.ts
  src/shared/providers/StoreProvider/ui/StoreProvider.tsx
  src/shared/ui/Modal/index.tsx
  tsconfig.json
  yarn.lock
Due: yarn lint:fix, yarn test, yarn stylelint:fix

feat: add profile entity
  config/build/buildPlugin.ts
  config/build/types/config.ts
  config/jest/jest.config.ts
  config/storybook/webpack.config.storybook.ts
  public/locales/en/profile.json
  public/locales/ru/profile.json
  src/app/types/index.d.ts
  src/entities/Profile/index.ts
  src/entities/Profile/model/selectors/getProfileValidateErrors/getProfileValidateErrors.spec.ts
  src/entities/Profile/model/selectors/getProfileValidateErrors/index.ts
  src/entities/Profile/model/services/updateProfileData/index.ts
  src/entities/Profile/model/services/updateProfileData/updateProfileDataThunk.spec.ts
  src/entities/Profile/model/services/validateProfileData/validateProfileData.spec.ts
  src/entities/Profile/model/services/validateProfileData/validateProfileData.ts
  src/entities/Profile/model/slice/index.ts
  src/entities/Profile/model/slice/profileSlice.spec.ts
  src/entities/Profile/model/types/index.ts
  src/pages/ProfilePage/ui/ProfilePage.tsx
  src/shared/config/tests/testAsyncThunk/index.ts
  webpack.config.ts
Due: yarn lint:fix, yarn test

feat: update webpack
  config/build/buildLoaders.ts
  config/build/buildPlugin.ts
  src/app/styles/index.scss
  src/app/styles/themes/orange.scss
  src/shared/config/theme/model/ThemeContext.tsx
  src/shared/providers/ThemeProvider/ui/ThemeProvider.tsx
Due: yarn lint:fix, yarn test, yarn stylelint:fix

fix: fix webpack config
  config/build/buildWebpackConfig.ts
Due: yarn lint:fix, yarn test

feat: add private route
  src/app/index.tsx
  src/entities/User/index.ts
  src/entities/User/model/selectors/getInited/getInited.spec.ts
  src/entities/User/model/selectors/getInited/index.ts
  src/entities/User/model/slice/userSlice.spec.ts
  src/entities/User/model/slice/userSlice.ts
  src/shared/config/routeConfig/routeConfig.tsx
  src/shared/providers/router/ui/AppRouter.tsx
  src/shared/providers/router/ui/RequireAuth.tsx
Due: yarn lint:fix, yarn test

fix: fix build
  src/features/AuthByUsername/model/services/loginByUsername/loginByUsername.spec.ts
Due: yarn lint:fix, yarn test

fix: update husky
  .husky/pre-commit
Due: none

feat: addc articles page and article details page
  config/build/buildWebpackConfig.ts
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/entities/User/index.ts
  src/entities/User/model/selectors/getUserAuthUsername/getUserAuthUsername.spec.ts
  src/entities/User/model/selectors/getUserAuthUsername/index.ts
  src/pages/ArticlesDetailsPage/index.ts
  src/pages/ArticlesDetailsPage/ui/ArticleDetailsPage/ArticleDetailsAsync.tsx
  src/pages/ArticlesDetailsPage/ui/ArticleDetailsPage/index.tsx
  src/pages/ArticlesPage/index.ts
  src/pages/ArticlesPage/ui/ArticlesPage/ArticlesPageAsync.tsx
  src/pages/ArticlesPage/ui/ArticlesPage/index.tsx
  src/pages/MainPage/ui/MainPage.tsx
  src/pages/NotFoundPage/ui/NotFountPage.tsx
  src/pages/ProfilePage/ui/ProfilePage.tsx
  src/pages/ProfilePage/ui/ProfilePageHeader/index.tsx
  src/shared/assets/icons/article-20-20.svg
  src/shared/assets/icons/calendar-20-20.svg
  src/shared/assets/icons/copy-20-20.svg
  src/shared/assets/icons/done-20-20.svg
  src/shared/assets/icons/eye-20-20.svg
  src/shared/assets/icons/profile-20-20.svg
  src/shared/config/routeConfig/routeConfig.tsx
  src/shared/providers/router/ui/RequireAuth.tsx
  src/widgets/Navbar/ui/Navbar.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.spec.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
Due: yarn lint:fix, yarn test

feat: add article details page
  json-server/db.json
  public/locales/en/articles.json
  public/locales/ru/articles.json
  src/app/styles/index.scss
  src/app/styles/variables/global.scss
  src/entities/Article/index.ts
  src/entities/Article/model/selectors/getArticleDetailsData/getArticlesDetailsData.spec.ts
  src/entities/Article/model/selectors/getArticleDetailsData/index.ts
  src/entities/Article/model/selectors/getArticleDetailsError/getArticleDetailsError.spec.ts
  src/entities/Article/model/selectors/getArticleDetailsError/index.ts
  src/entities/Article/model/selectors/getArticleDetailsIsLoading/getArticleDetailsIsLoading.spec.ts
  src/entities/Article/model/selectors/getArticleDetailsIsLoading/index.ts
  src/entities/Article/model/services/getArticleById/getArticleById.spec.ts
  src/entities/Article/model/services/getArticleById/index.ts
  src/entities/Article/model/slice/index.ts
  src/entities/Article/model/types/index.ts
  src/entities/Article/ui/ArticleCodeBlock/index.tsx
  src/entities/Article/ui/ArticleDetails/articleDetails.module.scss
  src/entities/Article/ui/ArticleDetails/index.tsx
  src/entities/Article/ui/ArticleImageBlock/index.tsx
  src/entities/Article/ui/ArticleTextBlock/index.tsx
  src/pages/ArticlesDetailsPage/ui/ArticleDetailsPage/index.tsx
  src/shared/providers/StoreProvider/config/stateSchema.ts
  src/shared/ui/Skeleton/Skeleton.spec.tsx
  src/shared/ui/Skeleton/Skeleton.stories.tsx
  src/shared/ui/Skeleton/index.tsx
  src/shared/ui/Skeleton/skeleton.module.scss
Due: yarn lint:fix, yarn test, yarn stylelint:fix

feat: add all kinds of article block
  package.json
  src/app/styles/index.scss
  src/app/styles/themes/dark.scss
  src/app/styles/themes/normal.scss
  src/app/styles/themes/orange.scss
  src/entities/Article/model/selectors/getArticleDetailsIsLoading/index.ts
  src/entities/Article/ui/ArticleCodeBlock/articleCodeBlock.module.scss
  src/entities/Article/ui/ArticleCodeBlock/index.tsx
  src/entities/Article/ui/ArticleDetails/articleDetails.module.scss
  src/entities/Article/ui/ArticleDetails/index.tsx
  src/entities/Article/ui/ArticleDetailsBone/articleDetailsBone.module.scss
  src/entities/Article/ui/ArticleDetailsBone/index.tsx
  src/entities/Article/ui/ArticleImageBlock/articleImageBlock.module.scss
  src/entities/Article/ui/ArticleImageBlock/index.tsx
  src/entities/Article/ui/ArticleTextBlock/articleTextBlock.module.scss
  src/entities/Article/ui/ArticleTextBlock/index.tsx
  src/pages/ArticlesDetailsPage/ui/ArticleDetailsPage/articleDetailsPage.module.scss
  src/pages/ArticlesDetailsPage/ui/ArticleDetailsPage/index.tsx
  src/shared/ui/Code/Code.spec.tsx
  src/shared/ui/Code/Code.stories.tsx
  src/shared/ui/Code/code.module.scss
  src/shared/ui/Code/index.tsx
  src/shared/ui/Heading/Heading.spec.tsx
  src/shared/ui/Heading/Heading.stories.tsx
  src/shared/ui/Heading/heading.module.scss
  src/shared/ui/Heading/index.tsx
  src/shared/ui/Icon/icon.module.scss
  src/shared/ui/Icon/index.tsx
  src/shared/ui/Typography/Typography.spec.tsx
  src/shared/ui/Typography/Typography.stories.tsx
  src/shared/ui/Typography/index.tsx
  src/shared/ui/Typography/typography.module.scss
  yarn.lock
Due: yarn lint:fix, yarn test, yarn stylelint:fix

feat: add comments block
  json-server/db.json
  public/locales/en/articles.json
  public/locales/en/comments.json
  public/locales/ru/articles.json
  public/locales/ru/comments.json
  public/locales/ru/translation.json
  src/entities/Article/ui/ArticleDetails/articleDetails.module.scss
  src/entities/Article/ui/ArticleDetails/index.tsx
  src/entities/Comment/index.ts
  src/entities/Comment/model/types/index.ts
  src/entities/Comment/ui/CommentCard/CommentCardBone.tsx
  src/entities/Comment/ui/CommentCard/commentCard.module.scss
  src/entities/Comment/ui/CommentCard/index.tsx
  src/entities/Comment/ui/CommentsList/commentList.module.scss
  src/entities/Comment/ui/CommentsList/index.tsx
  src/entities/User/model/slice/userSlice.ts
  src/pages/ArticlesDetailsPage/index.ts
  src/pages/ArticlesDetailsPage/model/selectors/getArticleDetailsCommentsError/getArticleDetailsCommentsError.spec.ts
  src/pages/ArticlesDetailsPage/model/selectors/getArticleDetailsCommentsError/index.ts
  src/pages/ArticlesDetailsPage/model/selectors/getArticleDetailsCommentsIsLoading/getArticleDetailsCommentsIsLoading.spec.ts
  src/pages/ArticlesDetailsPage/model/selectors/getArticleDetailsCommentsIsLoading/index.ts
  src/pages/ArticlesDetailsPage/model/services/getCommentsByArticleId/getCommentsByArticleId.spec.ts
  src/pages/ArticlesDetailsPage/model/services/getCommentsByArticleId/index.ts
  src/pages/ArticlesDetailsPage/model/slices/index.ts
  src/pages/ArticlesDetailsPage/ui/ArticleDetailsPage/articleDetailsPage.module.scss
  src/pages/ArticlesDetailsPage/ui/ArticleDetailsPage/index.tsx
  src/shared/providers/StoreProvider/config/stateSchema.ts
Due: yarn lint:fix, yarn test, yarn stylelint:fix

feat: update url`s sidebar
  src/shared/config/routeConfig/routeConfig.tsx
  src/widgets/Sidebar/index.ts
  src/widgets/Sidebar/model/selectors/getItemsSidebar/getItemsSidebar.spec.ts
  src/widgets/Sidebar/model/selectors/getItemsSidebar/index.ts
  src/widgets/Sidebar/ui/Sidebar/Sidebar.spec.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
Due: yarn lint:fix, yarn test

feat: update check ts
  config/build/buildPlugin.ts
  package.json
  yarn.lock
Due: yarn lint:fix, yarn test

feat: add articleList
  json-server/db.json
  package.json
  public/locales/en/articles.json
  public/locales/ru/articles.json
  src/app/styles/themes/dark.scss
  src/app/styles/themes/normal.scss
  src/app/styles/themes/orange.scss
  src/entities/Article/model/selectors/getArticleDetailsData/getArticlesDetailsData.spec.ts
  src/entities/Article/model/selectors/getArticleDetailsError/getArticleDetailsError.spec.ts
  src/entities/Article/model/selectors/getArticleDetailsIsLoading/getArticleDetailsIsLoading.spec.ts
  src/entities/Article/model/services/getArticleById/getArticleById.spec.ts
  src/entities/Article/model/types/index.ts
  src/entities/Article/ui/ArticleList/articleList.module.scss
  src/entities/Article/ui/ArticleList/index.tsx
  src/entities/Article/ui/ArticleListItem/articleListItem.module.scss
  src/entities/Article/ui/ArticleListItem/index.tsx
  src/entities/Article/ui/ArticleListItem/ui/ArticleListItemSkeleton/index.tsx
  src/entities/Article/ui/ArticleListItem/ui/BigArticleListItem/index.tsx
  src/entities/Article/ui/ArticleListItem/ui/SmallArticleListItem/index.tsx
  src/pages/ArticlesDetailsPage/ui/ArticleDetailsPage/index.tsx
  src/pages/ArticlesPage/ui/ArticlesPage/index.tsx
  src/shared/lib/hooks/useHover/index.ts
  src/shared/lib/hooks/useHover/useHover.spec.ts
  src/shared/ui/Card/card.module.scss
  src/shared/ui/Card/card.spec.tsx
  src/shared/ui/Card/card.stories.tsx
  src/shared/ui/Card/index.tsx
  yarn.lock
Due: yarn lint:fix, yarn test, yarn stylelint:fix

feat: add view switcher
  src/entities/Article/ui/ArticleListItem/articleListItem.module.scss
  src/features/ArticlesViewSwitcher/index.ts
  src/features/ArticlesViewSwitcher/ui/ArticlesViewSwitcher.tsx
  src/pages/ArticlesPage/index.ts
  src/pages/ArticlesPage/model/selectors/getArticlesPageError/getArticlesPageError.spec.ts
  src/pages/ArticlesPage/model/selectors/getArticlesPageError/index.ts
  src/pages/ArticlesPage/model/selectors/getArticlesPageIsLoading/getArticlesPageIsLoading.spec.ts
  src/pages/ArticlesPage/model/selectors/getArticlesPageIsLoading/index.ts
  src/pages/ArticlesPage/model/selectors/getArticlesPageView/getArticlesPageView.spec.ts
  src/pages/ArticlesPage/model/selectors/getArticlesPageView/index.ts
  src/pages/ArticlesPage/model/services/getArticlesList/getArticlesList.spec.ts
  src/pages/ArticlesPage/model/services/getArticlesList/index.ts
  src/pages/ArticlesPage/model/slices/articlesPageSlice.spec.ts
  src/pages/ArticlesPage/model/slices/index.ts
  src/pages/ArticlesPage/model/types/index.ts
  src/pages/ArticlesPage/ui/ArticlesPage/index.tsx
  src/shared/assets/icons/list-24-24.svg
  src/shared/assets/icons/notification-20-20.svg
  src/shared/assets/icons/star.svg
  src/shared/assets/icons/tiled-24-24.svg
  src/shared/assets/icons/user-filled.svg
  src/shared/providers/StoreProvider/config/stateSchema.ts
  src/widgets/Sidebar/ui/SidebarItem/index.tsx
  src/widgets/Sidebar/ui/SidebarItem/sidebar.module.scss
Due: yarn lint:fix, yarn test, yarn stylelint:fix

feat: add infinite scroll
  src/app/styles/index.scss
  src/entities/Article/ui/ArticleList/index.tsx
  src/entities/Article/ui/ArticleListItem/index.tsx
  src/pages/AboutPage/ui/AboutPage.tsx
  src/pages/ArticlesDetailsPage/ui/ArticleDetailsPage/index.tsx
  src/pages/ArticlesPage/index.ts
  src/pages/ArticlesPage/model/selectors/getArticlesPageError/getArticlesPageError.spec.ts
  src/pages/ArticlesPage/model/selectors/getArticlesPageIsHasMore/getArticlesPageIsHasMore.spec.ts
  src/pages/ArticlesPage/model/selectors/getArticlesPageIsHasMore/index.ts
  src/pages/ArticlesPage/model/selectors/getArticlesPageIsLoading/getArticlesPageIsLoading.spec.ts
  src/pages/ArticlesPage/model/selectors/getArticlesPageLimit/getArticlesPageLimit.spec.ts
  src/pages/ArticlesPage/model/selectors/getArticlesPageLimit/index.ts
  src/pages/ArticlesPage/model/selectors/getArticlesPageNum/getArticlesPageNum.spec.ts
  src/pages/ArticlesPage/model/selectors/getArticlesPageNum/index.ts
  src/pages/ArticlesPage/model/services/getArticlesList/getArticlesList.spec.ts
  src/pages/ArticlesPage/model/services/getArticlesList/index.ts
  src/pages/ArticlesPage/model/services/getNextArticlesList/getNextArticlesList.spec.ts
  src/pages/ArticlesPage/model/services/getNextArticlesList/index.ts
  src/pages/ArticlesPage/model/slices/articlesPageSlice.spec.ts
  src/pages/ArticlesPage/model/slices/index.ts
  src/pages/ArticlesPage/model/types/index.ts
  src/pages/ArticlesPage/ui/ArticlesPage/index.tsx
  src/pages/MainPage/ui/MainPage.tsx
  src/pages/ProfilePage/ui/ProfilePage.tsx
  src/shared/lib/hooks/useInfiniteScroll/index.ts
  src/shared/lib/storage/view.ts
  src/shared/providers/router/ui/AppRouter.tsx
  src/shared/ui/PageWrapper/PageWrapper.spec.tsx
  src/shared/ui/PageWrapper/PageWrapper.stories.tsx
  src/shared/ui/PageWrapper/index.tsx
  src/shared/ui/PageWrapper/pageWrapper.module.scss
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
Due: yarn lint:fix, yarn test, yarn stylelint:fix
